<div class="container">
 <%= search_form_for @search do |f| %>
  <div class="form-group col-md-12 row">
    <%= f.text_field :title_cont, class: "form-control col-md-8" %>
    <%= f.submit "Search" ,class: "btn btn-primary ml-2" %>
  </div>
<% end %>

  <p id="notice"><%= notice %></p>
<%= link_to 'New Article', new_admin_article_path , class: "btn btn-primary float-right" %>
<h1>Articles</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description.html_safe %></td>
        <td><%=image_tag article.image.url ,:style =>'width:200px; height:200px' %></td>
        <td><%= link_to 'Show', admin_article_path(article), class:'btn btn-primary' %>
        <%= link_to 'Edit', edit_admin_article_path(article),class:'btn btn-primary' %>
        <%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>