<div class="container">
  <div class="row justify-content-center">
    <div class="card shadow rounded p-3">
      <p id="notice"><%= notice %></p>
      <h1 class="text-center"><%= @article.title %></h1>
      <% if @article.image.present? %>
        <%=image_tag @article.image.url , class: "card-img-top" , style: 'height:15rem;'%>
        <% else %>
        <%=image_tag 'default_background.jpg' , class: "card-img-top" , style: 'height:15rem;'%>
      <% end %>
      <div class="card-body">
        <%= @article.description.html_safe %>
        <p class="pdf_link"><%= link_to "Download Article (PDF)", article_path(@article, :format => "pdf") , class: 'btn btn-outline-primary' %> <%= link_to 'Back', root_path , class: 'btn btn-primary float-right' %></p>
      </div>
    </div>
  </div>
  <div class="pdf_link mt-3">
    <div class="col-md-6">
      <h2>Comments <small><span class="badge badge-pill badge-dark"><%= @article.comments.count %> </span></small></h2>
      <hr>
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% else %>
        <p>You must login to comment..</p>
      <% end %>
      <hr class="mb-5">
      <%= render @article.comments.includes(:user).order("created_at DESC") %>
    </div>
  </div>
</div>


