<div class="container">
  <center class="h1">Our Team</center>
  <div class='row justify-content-center'>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class='lead'>Aditya Pandit</span><br>
        ROR Developer
      </center>
    </div>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class='lead'>Harsh Sagar</span><br>
        UI Developer
      </center>
    </div>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class="lead">Nidhi Sharma</span><br>
        Technology enthusiast<br>
      </center>
    </div>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class='lead'>Nikhil Tyagi</span><br>
        Technology enthusiast
      </center>
    </div>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class='lead'>Rishabh Matta</span><br>
        Technology enthusiast
      </center>
    </div>
    <div class='col-md-4 mt-5'>
      <center>
      <%=image_tag 'team.jpg' , class: "changer" %><br>
      <span class='lead'>Subham Birla</span><br>
        Technology enthusiast
      </center>
    </div>
    </div>
  </div>
</div>
