<nav class="navbar navbar-expand-xl navbar-light bg-light pmd-navbar pmd-z-depth fixed-top">
  <%= link_to('Eloqunce', root_path, class: 'navi navbar-brand') %>
  <!-- <a class="" href="#">Navbar</a> -->
  <div class="dropdown pmd-dropdown pmd-user-info ml-auto mr-5">
    <a href="javascript:void(0);" class="btn-user  media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">

      <% if user_signed_in? %>  
      <% if current_user.profilepic?%>
      <%= image_tag(current_user.profilepic.to_s, class: 'avatar dropdown') %>
      <% else %>
      <%= image_tag('defaultuser.png', class: 'avatar dropdown')%>
      <% end %>
      <% else %>
      <a class="nav-link" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <button type="button" class="btn btn-outline-dark">Menu</button>
    </a>
    <% end %>

  </a>

  <ul class="dropdown-menu dropdown-menu-right" role="menu">

    <% if user_signed_in? %>
    <%= link_to('Settings', edit_user_registration_path, class: "dropdown-item")%>
    <%= link_to 'Logout' , destroy_user_session_path, method: :delete , class: "dropdown-item" %>
    <% else %>
    <%= link_to 'Login', new_user_session_path, class: "dropdown-item" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "dropdown-item"%>  
    <% end %>
  </ul>

</div>
</nav>